{% extends "base.html" %}

   {% block content %}

    <form action="/login" id="form" method="POST">

        <h1>Login</h1>

        <p>If you don't have an account, you can <a href="/register">register</a> for one.</p>
        <hr />

        <table>
            <tbody>
                <tr>   

                    <td>     
                        <label for="email">Email</label>
                    </td>

                    <td>
                        <input type="text" name="email" id="email" value="{{email}}">
                        <span class="error">{{emailError}}</span>
                    </td>
                </tr>

                <tr>

                    <td>
                        <label for="password">Password</label>
                    </td>

                    <td>
                        <input type="password" name="password" id="password" value="{{password}}">
                        <span class="error">{{passwordError}}</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <input type="submit" value="Login">
        
    </form>

    <p class="error">{{not_registeredError}}</p>

{% endblock content %}